/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-m59af9o5q2] {
    /* position: relative;
    display: flex;
    flex-direction: column; */
    width: 100%;
}

main[b-m59af9o5q2] {
    width: 100%;
}
